# CI
ci-gcp-admin-account-json:
ci-gcp-environment-name: ci
ci-gcp-project-name: census-rm-ci
ci-kubernetes-cluster-name: rm-k8s-cluster
terraform-branch: master
acceptance-tests-image: eu.gcr.io/census-gcr-rm/rm/census-rm-acceptance-tests:latest

# SIT
sit-gcp-environment-name: whitelodge
sit-gcp-project-name: census-rm-whitelodge
sit-kubernetes-cluster-name: rm-k8s-cluster
