# CI
ci-gcp-admin-account-json:
ci-gcp-environment-name:
ci-gcp-project-name:
ci-gcp-service-account-json:
ci-kubernetes-cluster-name:
terraform-branch: master
acceptance-tests-image: eu.gcr.io/census-rm-ci/rm/census-rm-acceptance-tests:latest

# WL
wl-gcp-environment-name:
wl-gcp-project-name:
wl-gcp-service-account-json:
wl-kubernetes-cluster-name:

github-private-key: