gcp-admin-account-json: 
gcp-environment-name: 
gcp-project-name: 
gcp-service-account-json:
kubernetes-cluster-name:
terraform-branch: master
acceptance-tests-image: eu.gcr.io/census-rm-ci/rm/census-rm-acceptance-tests:latest
